.footer-container {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: $gray-jet;
   min-height: 4rem;
   
   .footer-controls {
      margin: 0 auto;
      max-width: $large-screen;
   }
   
   .footer-logo {
      margin-left: 1rem;
      display: inline-block;
      float: left;
      line-height: 4rem;
      
      a { @include button-border($gray-light); }
   }
   
   ul {
      margin-top: calc((4rem - 1.5rem) / 2);
      margin-right: 1rem;
      width: auto;
      height: auto;
      float: right;
      line-height: 4rem;
      list-style: none;
      
      li {
         padding: 0 0.5rem;
         float: left;

         .social-youtube { @include social-icon('youtube'); }
         .social-twitter { @include social-icon('twitter'); }
         .social-facebook { @include social-icon('facebook'); }         
         .social-instagram { @include social-icon('instagram'); }         
      }
   }   
}