* {
  margin: 0;
  padding: 0;
}

html {
	height: 100%;
}

body {
  height: 100%;
  background-color: $gray-light;
  color: $gray-jet;
  font-family: 'Oxygen', sans-serif;
}

.main-container {
	min-height: calc(100% - 4rem);
	position: relative;
}
