
// Gemerate helper classes for padding and margin modifiers
@include generate_space_helpers();

/// Generates helper classes for each color
@each $category, $color in $color-map {
  @each $label, $value in $color {
    .color__#{$category}-#{$label}--text { color: $value !important; }
    .color__#{$category}-#{$label}--border { border-color: $value !important; }
    .color__#{$category}-#{$label}--bg { background-color: $value !important; }
  }
}

.mobile-only {
	@include breakpoint($screen-sm) { display: none; }
}

.hide-on-mobile {
	display: none;

	@include breakpoint($screen-sm) { display: block; }
}

.hide {
	display: none !important;
}

.semi-bold {
	font-weight: 500;
}

.bold {
	font-weight: 700;
}

.opacity-50 {
	opacity: 0.5;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-upper {
	text-transform: uppercase;
}