// Mobile first breakpoint
@mixin breakpoint($point) {
	@media screen and (min-width: $point) { @content; }
}

// Default button with customizable colors
@mixin button($default-color, $action-color) {
	padding: 0.5rem;
	background-color: transparent;
	border: 2px solid $default-color;
	border-radius: 5px;
	color: $action-color;
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.3s ease-out;

	&:focus,
	&:hover { 
		background-color: $action-color;
		border-color: $action-color;
		color: $gray-light;
	}
}

@mixin button-border($action-color) {
	padding: 0.5rem;
	border: 2px solid transparent;
	border-radius: 5px;
	color: $action-color;
	font-size: 1rem;
	text-decoration: none;
	transition: all 0.3s ease-out;

	&:focus,
	&:hover { border: 2px solid $action-color; }
}

@mixin social-icon($name) {
	height: 1.5rem;
	width: 1.5rem;
	display: block;	
	background: url('../img/logo-' + $name + '.png');	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 0.3s ease-in-out;

	&:hover {
		transform: translateY(-0.25rem);
	}
}