
// Colors
$blue-pierce: #0099FF;
$blue-tranquil: #007AC9;
$blue-deep: #003D64;
$red-blood: #AA1100;
$red-crimson: #DD1600;

$gray-light: #F5F5F5;
$gray-mild: #BDBDBD;
$gray-mid: #616161;
$gray-dark: #424242;
$gray-jet: #212121;

$primary-color: $blue-tranquil;
$secondary-color: $red-crimson;

// Media query upper sizes
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1280px;
