
/* Banner */

@include keyframes('reveal-banner') {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.banner {
	background-attachment: fixed;
	background-color: color(gray, jet);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: color(gray, jet);
	cursor: default;
	min-height: 100vh;
	padding: 6em 0;
	text-align: center;

	&.banner--home {
		background-image: url('../img/home-hero.jpg');
	}

	&.banner--eidetus {
		background-image: url('../img/eidetus-screenshot-10.jpg');
	}

	.banner__inner {
		@include vendor('animation', 'reveal-banner 1s 0.25s ease-in-out');
		@include vendor('animation-fill-mode', 'forwards');

		background: rgba(color(mono, white), 0.7);
		color: color(gray, jet);
		display: inline-block;
		opacity: 0;
		padding: 22px 33px;
		text-align: center;

		h1 {
			border-bottom: solid 2px;
			font-family: 'Helvetica', sans-serif;
			font-size: 44px;
			font-weight: 900;
			letter-spacing: 0.05em;
		}

		p {
			letter-spacing: 0.1em;

			a {
				color: inherit;
				font-weight: 400;
				text-decoration: none;
			}
		}
	}

	@include breakpoint(normal) {
		background-attachment: scroll;
	}

	@include breakpoint(narrow) {
		background-size: cover;
	}

	@include breakpoint(narrower) {
		margin: 0;
	}

	@include breakpoint(mobile) {
		background-size: cover;
		padding: 6em 0;

		.banner__inner {
			display: block;
			padding: 22px;

			header h2 { font-size: 1.5em; }

			p { text-align: center; }

			br { display: none; }
		}
	}
}
