.banner {
	background-attachment: fixed;
	background-color: color(gray, jet);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: color(gray, jet);
	cursor: default;
	min-height: 100vh;
	padding: 200px 0 0;
	position: relative;
	text-align: center;

	&.banner--home {
		background-image: url('../img/home-hero.jpg');
	}

	&.banner--eidetus {
		background-image: url('../img/eidetus-screenshot-10.jpg');
	}

	.banner__inner {
		animation: reveal-banner 1s 0.25s ease-in-out;
		animation-fill-mode: forwards;
		background: rgba(color(mono, white), 0.7);
		color: color(gray, jet);
		display: inline-block;
		opacity: 0;
		padding: 22px;
		text-align: center;

		h1 {
			font-family: 'Helvetica', sans-serif;
			font-weight: 900;
			letter-spacing: 0.05em;
			margin: 0;
		}

		.button { margin: 0; }
	}

	.button__icon {
		animation: lower-on-load 0.8s 0.0s ease-in-out;
		animation-fill-mode: both;
		background: color(primary, red);
		border: 0;
		border-radius: 50%;
		bottom: 100px;
		height: 44px;
		position: absolute;
		left: calc(50% - 22px);
		width: 44px;

		&:before,
		&:after {
		    animation-fill-mode: both;
			background: color(primary, red);
			content: "";
		    height: 88px;
		    border-radius: 50%;
		    position: absolute;
			right: calc(50% - 44px);
			top: calc(50% - 44px);
		    opacity: 0;
		    width: 88px;
			z-index: 999;
		}

		&:before { animation: pulse-ring 1.8s 0.8s ease-out infinite; }
		&:after { animation: pulse-ring 1.8s 0.33s ease-out infinite; }
	}

	.button__icon--down-caret {
		position: absolute;
		right: 50%;
		top: 50%;
		z-index: 99999;

		&:before {
			background-image: url('../img/overlay-caret.png');
			background-position: center center;
			background-size: cover;
			content: "";
			height: 22px;
			position: absolute;
			right: calc(50% - 11px);
			top: calc(50% - 11px);
			width: 22px;
			z-index: 99999;
		}
	}

	@include breakpoint(mobile) {
		background-attachment: scroll;
		background-size: cover;

		.banner__inner { display: none; }
	}
}
