
/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
	@include vendor('appearance', 'none');
	@include vendor('transition', ('color 0.2s ease-in-out', 'border-color 0.2s ease-in-out', 'background-color 0.2s ease-in-out'));
	background: none;
	border: solid 1px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	padding: 0 0.75em;
	line-height: 3.75em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: transparentize(color(gray, straight), 0.15);
		border-color: inherit;
	}

	&.special {
		background: color(primary, red);
		border-color: color(primary, red);
		color: color(mono, white) !important;

		&:hover {
			background: lighten(color(primary, red), 5) !important;
			border-color: lighten(color(primary, red), 5) !important;
		}
	}

	&.fit { width: 100%; }

	&.small {
		font-size: 0.7em;
		min-width: 14em;
		padding: 0.5em 0;
	}

	@include breakpoint(narrower) {
		&.small {
			font-size: 0.8em;
			min-width: 18em;
			padding: 0.75em 0;
		}
	}

	@include breakpoint(mobile) {
		width: 100%;

		&.fit { width: auto; }
	}
}

.style2 .button {
	&:hover { background: transparentize(color(mono, white), 0.15) !important; }

	&.special {
		background: color(mono, white);
		border-color: color(mono, white);
		color: color(gray, straight) !important;

		&:hover {
			border-color: inherit !important;
			color: color(mono, white) !important;
		}
	}
}
