
/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
	background: color(primary, light);
	border: solid 1px color(primary, light);
	box-shadow: 1px 2px 4px 1px rgba(color(mono, black), 0.2);
	color: color(mono, white);
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 700;
	height: 44px;
	letter-spacing: 2px;
	line-height: 44px;
	margin: 0 0 22px;
	overflow: hidden;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
  	text-overflow: ellipsis;
  	text-shadow: none;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;  

	&:hover {
		background: lighten(color(primary, light), 5);
		border-color: lighten(color(primary, light), 5);
		box-shadow: none;
		color: color(mono, white);
	}

	&.button--alternate {
		border-color: color(gray, jet);
		color: color(gray, jet);

		&:hover {
			background: color(gray, jet);
			border-color: color(gray, jet);
			color: color(gray, off-white);
		}
	}

	&.button__nav--primary {
		background: color(primary, light);
		border-color: color(primary, light);
		box-shadow: none;

		&:hover {
			background: lighten(color(primary, light), 5);
			border-color: lighten(color(primary, light), 5);
			color: color(mono, white);
		}
	}

	&.button__nav--secondary {
		background: color(primary, light);
		border-color: color(primary, light);
		box-shadow: none;

		&:hover {
			background: lighten(color(primary, light), 5);
			border-color: lighten(color(primary, light), 5);
			color: color(mono, white);
		}
	}

	&.button--full-width {
		width: 100% !important;
	}
}

.link__alt {
	border-color: color(mono, white);
	color: color(mono, white);

	&:hover {
		border-color: darken(color(mono, white), 20);
		color: darken(color(mono, white), 20);
	}
}
