
/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
	margin: 0 0 22px;
	padding: 0 22px;
	display: inline-block;
	height: 44px;
	line-height: 44px;

	background: transparent;
	border: solid 1px color(mono, white);
	color: color(mono, white);
	cursor: pointer;

	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;

	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	transition: all 0.3s ease-in-out;

	&:hover {
		background: color(mono, white);
		border-color: color(mono, white);
		color: color(primary, red);
	}

	&.button--alternate {
		border-color: color(gray, jet);
		color: color(gray, jet);

		&:hover {
			background: color(gray, jet);
			border-color: color(gray, jet);
			color: color(gray, off-white);
		}
	}

	&.button--attention {
		background: color(primary, red);
		border-color: color(primary, red);

		&:hover {
			background: darken(color(primary, red), 10);
			border-color: darken(color(primary, red), 10);
			color: color(mono, white);
		}
	}

	@include breakpoint(mobile) {
		width: 100%;
	}
}

.link__alt {
	border-color: color(mono, white);
	color: color(mono, white);

	&:hover {
		border-color: darken(color(mono, white), 20);
		color: darken(color(mono, white), 20);
	}
}
