
.main-container {
	height: 100%;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}

.content {
	.content__container {
		margin: 0 auto;
		max-width: $max-width;
		padding: 44px 22px;
	}

	.content__image {
		height: 100%;
		overflow: hidden;
		position: relative;

		img {
			height: auto;
			width: 100%;
		}

		&.content__image--vertical img {
			height: 100%;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);
			width: auto;
		}
	}

	@include breakpoint($screen-sm) {
		&.content--top { padding: 73px 0 0; }
	}
}
