
/* Main */

#main {
	background-position: bottom right;
	background-repeat: no-repeat;
	background-size: $pattern-background-size;
	padding: 0;

	.banner-color {
		width: 100%;
		background-color: color(primary, red);
	}

	> :last-child { margin-bottom: 0; }

	@include breakpoint(narrow) {
		background-size: $pattern-background-size;
	}	

	@include breakpoint(narrower) {
		.sidebar {
			border-top: solid 1px transparentize(color(gray, dark), 0.9);

			section {
				border-top: 0;
				padding-top: 0;
			}
		}
	}

	@include breakpoint(mobile) {
		background-size: $pattern-background-size;
	}
}

.contact #main {
	@include breakpoint(mobile) {
		padding-bottom: 0;
	}
}
