
.thumbs {
	align-items: stretch;
	background-color: color(gray, jet);
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 1280px;
	padding: 22px 0 0;
}

.thumb {
	border: 0;
	flex: 1 1 25%;
	height: auto;
	width: 100%;
	padding: 0 22px 22px;

	&.overlay__image--open {
		&:hover { cursor: zoom-out; }

		.overlay__image {
			background-position: center center;
			background-size: cover;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 999999;
		}

		.overlay__background {
			background: rgba(color(mono, black), 0.85);
			bottom: 0;
			display: block;
			left: 0;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 99999;
		}
	}

	.overlay__image,
	.overlay__background { display: none; }

	img {
		border: 1px solid transparent;
		height: auto;
		width: 100%;

		&:hover { border-color: color(primary, red); }
	}

	@include breakpoint(mobile) {
		flex: 1 1 100%;
	}
}
