
/* Wrapper */

#page-wrapper {
	@include breakpoint(narrower) {
		@include vendor('backface-visibility', 'hidden');
		@include vendor('transition', 'transform #{_duration(navPanel)} ease');
		padding-bottom: 1px;
	}
}

.wrapper {
	margin-bottom: 5em;
	padding: 5em;

	&.style1 { padding: 0; }

	&.style2 {
		background-color: transparent;
		background-position: bottom left, bottom right;
		background-repeat: no-repeat, no-repeat;
		background-size: $pattern-background-size, $pattern-background-size;
		color: color(mono, white);

		.link {
			color: color(mono, white);
			font-weight: bold;
		}
	}

	&.style3 {
		background: color(mono, white);
		color: inherit;
	}

	&.style4 {
		background: color(mono, white);
		color: inherit;
		padding: 4em;
	}

	@include breakpoint(normal) {
		margin-bottom: 4em;
		padding: 4em 3em;

		&.style4 { padding: 3em; }
	}

	@include breakpoint(narrow) {
		margin-bottom: 3em;
		padding: 3em 2.5em;

		&.special br { display: none; }

		&.style1 { padding: 0 2.5em; }

		&.style2 { background-size: 15em; }

		&.style4 { padding: 2.5em; }
	}
}


@include breakpoint(narrower) {
	&.special-alt { text-align: center; }

	&.style4 { padding-bottom: 3em; }
}

@include breakpoint(mobile) {
	margin-bottom: 2.5em;
	padding: 2.25em 1.5em;

	&.special br { display: none; }

	&.style1 { padding: 0 1.5em; }

	&.style2 {
		background-size: $pattern-background-size;
		padding: 2.25em 1.5em;
	}

	&.style4 {
		background-size: $pattern-background-size;
		padding: 1.5em 1.5em 3em 1.5em;
	}
}
